<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <menuitem
        id="crm_import"
        name="Import Leads"
        sequence="20"
        parent="crm.crm_menu_root"
    />

    <menuitem
        id="excel_report"
        name="Import Leads"
        sequence="1"
        parent="vive_crm_import_leads.crm_import"
        action="vive_crm_import_leads.crm_import_wizard_action"
        groups="vive_crm_import_leads.crm_lead_import_group_user"
    />

    <menuitem
        id="crm_import_history"
        name="Import History"
        sequence="2"
        groups="vive_crm_import_leads.crm_lead_import_group_user"
        parent="vive_crm_import_leads.crm_import"
        action="leads_import_history_action"
    />
</odoo>
